
*{
    background-color:#f7f7f7;
    margin: auto;
    text-align: center;

}
.cell{
    width:19%;
    height:50px;
    border-radius:5px;
    cursor:pointer;
}

.row0, .row1, .row2, .row3, .row4, .row5, .row6, .row7 {
    float:left;
    border:0px solid red;
    vertical-align:center;
}
.servingrow0, .allrow1, .allrow2, .allrow3, .allrow4, .allrow5, .allrow6, .allrow7{
    /* clear:right; */
    border:0px;
    height:52px;
    width:270px;
    align-content: center;
    vertical-align:middle;    
}


.col0, .col2, .col4 {  /*lighter columns*/
    background-color:#ededed;
}

.col1, .col3 {  /*darker columns*/
    background-color:#dedede;
}


/* ================================= */
/* only tile styling below this line */

.tile_2 {
    background-color:#ff00ff;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_2::after{
    content: "2";
}

.tile_4 {
    background-color:#00e1ff;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_4::after{
    content: "4";
}

.tile_8 {
    background-color:#FFC000;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_8::after{
    content: "8";
}

.tile_16 {
    background-color:#3180ff;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_16::after{
    content: "16";
}

.tile_32 {
    background-color:#70AD47;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_32::after{
    content: "32";
}

.tile_64 {
    background-color:#ff8818;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_64::after{
    content: "64";
}

.tile_128 {
    background-color:#B66DFF;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_128::after{
    content: "128";
}

.tile_256 {
    background-color:#6600FF;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_256::after{
    content: "256";
}

.tile_512 {
    background-color:#833C0C;
    font-size: 25px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_512::after{
    content: "512";
}

/* tiles below this point will never be served by the game */
.tile_1024 {
    background-color:#404040;
    font-size: 22px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_1024::after{
    content: "1024";
}

.tile_2048 {
    background-color:#000;
    font-size: 22px;
    color:white;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;    
    font-weight:bold;
}
.tile_2048::after{
    content: "2048";
}

.tile_4096 {
    background-color:#404040;
    font-size: 21px;
    color:#FFD966;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_4096::after{
    content: "4096";
}

.tile_8192{
    background-color:#000;
    font-size: 21px;
    color:#FFD966;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_8192::after{
    content: "8192";
}

.tile_16384{
    background-color:#404040;
    font-size: 18px;
    color:#FF7C80;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_16384::after{
    content: "16384";
}

.tile_32768{
    background-color:#000;
    font-size: 18px;
    color:#FF7C80;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_32768::after{
    content: "32768";
}

asfafas
.tile_65536{
    background-color:#000;
    font-size: 18px;
    color:red;
    text-align: center;
    font-family:Calibri, Helvetica, sans-serif;
    line-height: 50px;
    font-weight:bold;
}
.tile_65536::after{
    content: "65536";
}